<section class="page-header">
  <h1 class="project-name"><a style="text-decoration: none; color: inherit"href="/">{{ site.title }}</a></h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/node-xyz" class="btn">View on GitHub</a>
  <a href="https://github.com/node-xyz/xyz-core" class="btn">xyz-core</a>
  <a href="https://github.com/node-xyz/xyz-cli" class="btn">xyz-cli</a>
  <a href="/getting-started" class="btn"> Documentation </a>
  <a href="/apidoc" class="btn"> API Doc </a>
</section>
